.footer {
  min-height: 100px;
  background: #E5E5E5;
  position: relative;
  color:rgb(224, 41, 41)
}

.footer span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background: rgb(224, 41, 41);
}
